div{
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
    background-color: #ccccff;
}
#calendarList{
    width: 400px;
    float: left;
    margin-right: 10px;
}
#eventList{
    width: 700px;
    padding-left: 10px; 
}
#items{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#items li{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    font-family: tahoma;
    cursor: pointer;
}
#items li:hover{
    background-color: #000099;
    color: #fff;
}
.calendar{
    
}